@import '../global.scss'; // Import your global SCSS file
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.footerSection{
    background-color: #e8ebef;
    display: flex;
    justify-content: space-around;
    padding: 3rem;

    .footerContainer{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .footerLogos{
            display: flex;
            gap: 0.5rem;
        }
    }

    .footerContact{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}